<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html ng-app="drChronoApp">
    <head>
        <meta charset='utf-8'>
        <title>DrChrono</title>
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/drchrono.css' %}" rel="stylesheet" type="text/css">
    </head>
    {% verbatim %}
    <body>
        <div id="content" class="container">
            <ng-view></ng-view>
        </div>
    </body>
    {% endverbatim %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/moment-with-locales.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/angular.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/angular-resource.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/angular-route.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/datetimepicker.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/datetimepicker.templates.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/drchrono.js' %}" type="text/javascript" charset="utf-8"></script>
</html>