html {
    height: 100%;
    overflow-y: scroll;
    background: #eee;
}

body {
    height: 100%;
    background: #eee;
}

#content {
    display: block;
    width: 800px;
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    min-height: 100%;
    background: #fff;
    padding: 1em;
}

.logoutButton {
    cursor: pointer;
}
