<div class="panel panel-default">
    <span class="label label-primary pull-right logoutButton" ng-click="sharedFunctions.logout()">{{ shared.patient.first_name }} {{ shared.patient.last_name }} - Logout</span>
    <div class="panel-body">
        <h2>Appointments</h2>
        <h3>New Appointment</h3>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <strong>Selected Date: {{ appointmentDate | date:'MMMM dd, yyyy hh:mm a' }}</strong>
                <br/>
                <br/>
                <datetimepicker data-ng-model="appointmentDate"
                                data-datetimepicker-config="{ startView:'day', minView:'hour' }"
                                data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                <br/>
                <br/>
                <div class="alert alert-success" role="alert" ng-if="created">
                    Appointment successfully created!
                </div>
            </div>
            <div class="col-md-6">
                <br/>
                <form name="appointmentForm">
                    <input type="hidden" class="form-control" id="duration" name="duration"
                           ng-model="appointment.duration"
                           value="60" ng-init="appointment.duration=60">
                    <input type="hidden" class="form-control" id="office" name="office"
                           ng-model="appointment.office"
                           value="{{ shared.offices[0].id }}" ng-init="appointment.office=shared.offices[0].id">
                    <input type="hidden" class="form-control" id="patient" name="patient"
                           ng-model="appointment.patient"
                           value="{{ shared.patient.id }}" ng-init="appointment.patient=shared.patient.id">
                    <div class="form-group">
                        <label for="reason">Reason for Appointment</label>
                        <textarea class="form-control" id="reason" ng-model="appointment.reason"
                                  placeholder="Reason for Appointment" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="doctor">Doctor</label>
                        <select id="doctor" class="form-control" ng-model="appointment.doctor"
                                ng-init="appointment.doctor=shared.doctors[0].id" required>
                            <option ng-repeat="doctor in shared.doctors" name="doctor" value="{{ doctor.id }}">
                                {{ doctor.first_name }} {{ doctor.last_name }} / {{ doctor.specialty }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="examRoom">Exam room</label>
                        <select id="examRoom" class="form-control" ng-model="appointment.exam_room"
                                ng-init="appointment.exam_room=shared.offices[0].index" required>
                            <option ng-repeat="exam_room in shared.offices[0].exam_rooms" name="exam_room"
                                    value="{{ exam_room.index }}">
                                {{ exam_room.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="reason">Selected Date</label>
                        <input type="text" class="form-control" id="scheduled_time" name="scheduled_time"
                               ng-model="appointment.scheduled_time" readonly="readonly" required>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="appointmentForm.$invalid || created"
                            ng-click="createAppointment()">
                        Create Appointment
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="panel-body">-->
        <!--<h3>Saved Appointments</h3>-->

        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>#</th>-->
                <!--<th>First Name</th>-->
                <!--<th>Last Name</th>-->
                <!--<th>Username</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<th scope="row">1</th>-->
                <!--<td>Mark</td>-->
                <!--<td>Otto</td>-->
                <!--<td>@mdo</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th scope="row">2</th>-->
                <!--<td>Jacob</td>-->
                <!--<td>Thornton</td>-->
                <!--<td>@fat</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th scope="row">3</th>-->
                <!--<td>Larry</td>-->
                <!--<td>the Bird</td>-->
                <!--<td>@twitter</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>





