<div class="panel panel-default">
    <span class="label label-primary pull-right logoutButton" ng-click="sharedFunctions.logout()">{{ shared.patient.first_name }} {{ shared.patient.last_name }} - Logout</span>
    <div class="panel-body">
        <form name="demographicsForm">
            <h3>Update Patient Demographics</h3>
            <div>
                <div class="form-group col-sm-6">
                    <label for="doctor">Primary Doctor</label>
                    <select id="doctor" class="form-control" ng-model="demographics.doctor"
                            ng-init="demographics.doctor=shared.patient.doctor" required>
                        <option style="display:none;" value="">select a type</option>
                        <option ng-repeat="doctor in shared.doctors" name="doctor" value="{{ doctor.id }}"
                                ng-selected="shared.patient.doctor == doctor.id">
                            {{ doctor.first_name }} {{ doctor.last_name }} / {{ doctor.specialty }}
                        </option>
                    </select>
                </div>
                <div style="clear: both"></div>
                <div class="form-group col-sm-3">
                    <label for="gender">Gender</label>
                    <select id="gender" class="form-control" ng-model="demographics.gender"
                            ng-init="demographics.gender=shared.patient.gender" required>
                        <option ng-repeat="gender in ['Male', 'Female', 'Other']" name="gender" value="{{ gender }}">
                            {{ gender }}
                        </option>
                    </select>
                </div>
                <div style="clear: both"></div>
                <div class="form-group col-sm-3">
                    <label for="race">Race</label>
                    <select id="race" class="form-control" ng-model="demographics.race"
                            ng-init="demographics.race=shared.patient.race">
                        <option ng-repeat="race in ['indian', 'asian', 'black', 'hawaiian', 'white', 'declined']" name="race" value="{{ race }}">
                            {{ race }}
                        </option>
                    </select>
                </div>
                <div style="clear: both"></div>
                <div class="form-group col-sm-3">
                    <label for="zipCode">Zip Code</label>
                    <input type="text" class="form-control" id="zipCode" name="zip_code"
                           ng-model="demographics.zip_code"
                           placeholder="Zip Code" ng-init="shared.patient.zip_code=shared.patient.zip_code"
                           value="{{ shared.patient.zip_code }}" pattern=".{5}" title="5 characters">
                </div>
                <div style="clear: both"></div>
                <div class="form-group col-sm-5">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" ng-model="demographics.city"
                           placeholder="City" ng-init="shared.patient.city=shared.patient.city"
                           value="{{ shared.patient.city }}">
                </div>
                <div style="clear: both"></div>
                <div class="form-group col-sm-12">
                    <label for="emergencyContactName">Emergency Contact Name</label><span class="label label-danger" ng-if="errors.emergency_contact_name" style="margin-left: 5px;"> {{ errors.emergency_contact_name[0] }}</span>
                    <input type="text" class="form-control" id="emergencyContactName" name="emergency_contact_name"
                           ng-model="demographics.emergency_contact_name"
                           placeholder="Emergency Contact Name"
                           ng-init="shared.patient.city=shared.patient.emergency_contact_name"
                           value="{{ shared.patient.emergency_contact_name }}">
                </div>
                <div style="clear: both"></div>
                <div class="form-group col-sm-6">
                    <label for="emergencyContactPhone">Emergency Contact Phone (ddd-ddd-dddd)</label>
                    <input type="text" class="form-control" id="emergencyContactPhone" name="emergency_contact_phone"
                           ng-model="demographics.emergency_contact_phone"
                           placeholder="Emergency Contact Phone"
                           ng-init="shared.patient.city=shared.patient.emergency_contact_phone"
                           value="{{ shared.patient.emergency_contact_phone }}"
                           pattern="^\d{3}-\d{3}-\d{4}$">
                </div>
            </div>
            <div style="clear: both"></div>
            <br/>
            <br/>
            <button type="submit" class="btn btn-success" ng-disabled="demographicsForm.$invalid"
                    ng-click="updateDemographics(demographicsForm)">
                Update
            </button>
            <button type="submit" class="btn btn-default" ng-click="skipStep()">
                Skip
            </button>
        </form>
    </div>
</div>