<div class="panel panel-default">
    <div class="panel-body">
        <form name="patientForm">
            <h3>Patient Login</h3>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" ng-model="shared.patient.first_name"
                       placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" ng-model="shared.patient.last_name"
                       placeholder="Last Name" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="patientForm.$invalid" ng-click="getPatient()">
                Login
            </button>
            <br />
            <br />
            <div class="alert alert-danger" role="alert" ng-if="error">
                Login error occurred. Please check if entered data is correct.
            </div>
            <div class="alert alert-danger" role="alert" ng-if="noResults">
                Could not find patient with given data. Please check if entered data is correct.
            </div>
        </form>
    </div>
</div>